@mixin button($btncolor,$bgcolor){
    border: none;
    color: $btncolor;
    font-size: 14px;
    padding: 8px 20px;
    background: $bgcolor;
    position: relative;
    cursor: pointer;
    transition: .4s;
    &:hover::after{
        content: '';
        height: 100%;
        width: 100%;
        transition: .4s;
        background-color: rgb(0,0,0,0.2);
        position: absolute;
        top: 0;
        left: 0;
    }
}
@mixin titleName(){
    font-size: 25px;
    color: $text_light;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    &::after{
        content: '';
        width: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        height: 1px;
        background-color: $text_dark;
    }
    &::before{
        content: '';
        width: 5px;
        height: 5px;
        background-color: $bg_light;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -33px;
        z-index: 1;
        outline: 15px solid $bg_dark;
    }
}
@mixin backgroundStroke($content){
    content: $content;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 280px;
    color: rgba(0,0,0,0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255,255,255,.15)
}
@mixin title($content){
    position: relative;
    overflow: hidden;
    padding: 120px 0;
    &::after{
        @include backgroundStroke($content)
    }
}